{% extends "layout.jinja2" %}


{% block container %}

  <h1>Notes</h1>

  {% if total > 1 %}
  {% if total > 10 %}
  <p>WRITE ME!</p>
  {% else %}
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous" href="/{{base}}/{{page - 1}}" {% if page == 1 %}disabled {% endif %}>Previous</a>
        <a class="pagination-next" href="/{{base}}/{{page + 1}}"  {% if page == total %}disabled{% endif %}>Next</a>
    <ul class="pagination-list">
      {% for p in range(1, total + 1) %}
      <li>   
	<a class="pagination-link {% if p == page %}is-current{% endif %}" href="/{{base}}/{{p}}">{{p}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
  {% endif %}
  

  <div class="field is-grouped">
    <p class="control">
      <a class="button is-link" id="button-new-note">
        New Note
      </a>
    </p>
  </div>
  
  {% for note in notes %}
<div class="columns">
  
  <div class="column">
  
    <div class="field">
      <div class="control">
        <textarea class="textarea ib-input" data-uuid={{note['uuid']}} rows="5">{{note['content']}}</textarea>
      </div>
    </div>

  </div>

  <div class="column is-narrow">
  
    <div class="field">
      <div class="control">
      <div class="buttons">
        <button class="button is-link ib-save" data-uuid={{note['uuid']}} disabled>Save</button>
<!--	<button class="button is-link" id="button-delete">Delete</button> -->
      </div>
      </div>
    </div>
    
  </div>
</div>
  {% endfor %}

  {% if total > 1 %}
  {% if total > 10 %}
  <p>WRITE ME!</p>
  {% else %}
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous" href="/{{base}}/{{page - 1}}" {% if page == 1 %}disabled {% endif %}>Previous</a>
    <a class="pagination-next" href="/{{base}}/{{page + 1}}"  {% if page == total %}disabled{% endif %}>Next</a>
    <ul class="pagination-list">
      {% for p in range(1, total + 1) %}
      <li>   
	<a class="pagination-link {% if p == page %}is-current{% endif %}" href="/{{base}}/{{p}}">{{p}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
  {% endif %}

  <script>
document.querySelector('#button-new-note').addEventListener('click', function() {
  post('/post/new-note', '/note/');
});

document.querySelectorAll('.ib-input').forEach(function(item) {
  var uuid = item.dataset.uuid;
  item.addEventListener('input', function() {
    if (!item.enabled) {
      item.enabled = true;
      document.querySelector(`.ib-save[data-uuid="${uuid}"]`).removeAttribute('disabled');
    }
  });
});

document.querySelectorAll('.ib-save').forEach(function(item) {
  var uuid = item.dataset.uuid;
  item.addEventListener('click', function() {
    var input = document.querySelector(`.ib-input[data-uuid="${uuid}"]`);
    var text = input.value;
    post('/post/save-note', {uuid: uuid, text: text}, '/note/');
    input.enabled = false;
    item.setAttribute('disabled', 'disabled');
  });
});
  </script>
  
{% endblock %}
    
