{% extends "layout.jinja2" %}


{% block container %}

<h1>Tags</h1>

      <div class="field">
        <div class="control">
	  <div class="buttons">
     	{% for t in tags %}
	  <a href="/tag/{{ t['tag'] }}" class="button is-rounded is-link is-light">{{ t['tag'] }}</a>
	{% endfor %}
          </div>
        </div>
	</div>

{% endblock %}
